body
{
	background: lightblue;
   
}

.Jogador1 , .Jogador2
{
	background: white;
	padding: 10px;
	float: none;
	border-radius: 15px;
}


#nome1 , #nome2
{
	display: inline-block;
	margin: 20px;
}
#word
{
	width: 60%;
}
#wordDisplay
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

